.container {
  color: $color-text-primary;
  background-color: $color-background;
  padding: 3.8rem 10rem;
  padding-bottom: 20rem;
  font-family: $font-primary;
}

.books {
  padding-bottom: 4rem;
  border-bottom: 1px solid $color-border;
}
